@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Spline Sans', sans-serif;
}


.main{
    display: flex;
}

.div_name_h1{
    padding: 16px;
}

.email,.telefone{
    color: #eff2f6;
    font-weight: bold;
}

.div_info_left_side,.div_info_right_side{
    /* border: 4px solid green; */
    height: 98vh;
}

.div_info_left_side{
    width: 30%;
    background-color: #003d74;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.div_info_right_side{
    width: 70%;
}

.div_skilss p{
    margin: 0px 0px 2% 0px;
}


.informacoes_pessoais,.habilidades_h3,.idioma_h3{
    background-color: #00305c;
    padding: 16px;
}

.div_email,.div_telefone,.div_skilss,._idiomas_p{
    padding: 16px;
}


.div_info_right_side{
    padding: 16px;
}

.paragrafo_sobre_min{
    width: 51%;
    color: #5b606a;    
}

.experiencia_profissional,.formacao_cientifica_h2,.certificados_h2{
    margin: 5% 0px 0px 0px;
    color: #003d74;
}


.div_primeiro_certificado,.div_segundo_certificado,.div_faculdade,.div_terceiro_certificado{
    display: flex;
    color: #6d737b;
    margin: 2% 0px 0px 0px;
}


.certificado,.tempo_comeco,.tempo_fim{
    color:#5c626b;
}
.certificado_responsive_web,.certificado_algoritmo,.certificado_docker{
    color: #363d49;
    font-weight: bolder;
    margin: 0px 0px 0px 4.8%;
}

.nome_faculdade,.localidade_faculdade{
    color: #363d49;
    margin: 0px 0px 0px 60px;
}

